.spotFinder-button {
    position: relative;
    margin-left: 1rem;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    border-radius: 100%;
    background-color: rgb(0, 255, 149);
    color: #393e46;;
    align-items: center; 
    justify-content: center;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    
}

.spotFinder-button:hover {
    background-color: rgb(0, 206, 120);
}

.spotFinder-buttons {
    display: flex;
    align-items: center;
}