.current-parking {
    background-color: #111;
    color: #fff;
    padding: 70px;
    padding-top: 3%;
    width: 100%;
    flex: 1;
    height: 100%;
    align-items: center;
    position: absolute;
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column; Alinea los elementos verticalmente */
    overflow-y: hidden;
  }
  
  .parking-header {
    display: flex;
    align-items: center; /* Alinea los elementos horizontalmente */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    margin-bottom: 20px; /* Agrega margen inferior para separar los detalles */
  }
  
  .parking-title {
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    color: rgb(0, 255, 149);    
  }
  
  .qr-current-parking {
    position: absolute;
    top: 20%;
    right: 10%;
    border-radius: 10px;
    border: 10px;
    width: max-content;
    padding: 8px;
    background-color: rgb(0,0,0);
    
  }
  
  .parking-details {
    display: flex;
    flex-direction: column; /* Alinea los detalles verticalmente */
  }
  
  .parking-details p {
    margin-bottom: 5px;
  }
  
  .parking-details strong {
    font-weight: bold;
  }
  