.HomeWrapper {
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 
/////////////////////////////////////////////////////////////////////////////
                              Titles
/////////////////////////////////////////////////////////////////////////////
*/
.HomeTitle {
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
  transition: all 0.5s ease-in-out;
  cursor:default;
  /* margin-bottom: 1rem; */
  /* margin-top: 1px; */
  margin-left: 10px;
  background-color: transparent;
  border: none;
  margin-top: 0;
  padding-top: 0;
  
}

.HomeTitle.show {
  font-size: 3rem;
}

.HomeTitle:hover {
  text-shadow: 0px 0px 10px rgba(3, 255, 255, 0.416);
  /* margin-left: 20px; */
  transform: translateX(3%);

  background-color: transparent;
}

/* 
/////////////////////////////////////////////////////////////////////////////
                              Nav Bar
/////////////////////////////////////////////////////////////////////////////
*/
.NavBar-box {
  /* background-color: rgb(62, 62, 62); */
  background-color: rgb(32, 32, 32);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 9999;
}

.NavBar {
  border: none;
  border-radius: 20px;
  height: 1.5rem;
  background-color: grey;
  position: relative;
  right: 1%;
  text-align: justify;
  padding-left: 1rem;
  color: white;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.1s ease-out; */
}

.NavBar:focus {
  right: 50%;
  transform: translate(50%,0);
  width: 30rem;
}

.NavBar::placeholder {
  color: rgb(89, 89, 89);
}

.LeftColumn-NavBar {
  display: flex;
  align-items: center;
}

.RightColumn-NavBar {
  display: flex;
  align-items: center;
}

.Balance-field {
  color: white;
  margin-right: 1rem;
}

.CurrentParking-button {
  margin-left: 2.5rem;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.CurrentParking-button:hover {
  background-color: transparent;
}

.CurrentParking-button::before,
.CurrentParking-button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.CurrentParking-button::before {
  left: 50%;
  transform: translateX(-50%);
}

.CurrentParking-button::after {
  right: 50%;
  transform: translateX(50%);
}

.CurrentParking-button:hover::before,
.CurrentParking-button:hover::after {
  width: 80%;
}


/* .CurrentParking-accordion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50vh;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
} */

.Accordion-container {
  /* Estilos para el acordeón */
  transition: all 0.3s ease-in-out; /* Transición suave de altura */
  
}

.Accordion-container.show {
  /* Estilos para el acordeón cuando está desplegado */
  transition: all 0.3s ease-in-out; /* Transición suave de altura */

}

.accordionContainer {
  top: -1vh;
  position: absolute;
  background-color: rgb(32, 32, 32);;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999; /* Asegúrate de que el valor de z-index sea mayor que el de los elementos debajo */
  overflow-y: hidden;
}

.accordionContainer.show {
  position: absolute;
  background-color: rgb(32, 32, 32);;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999; /* Asegúrate de que el valor de z-index sea mayor que el de los elementos debajo */
  overflow-y: auto;
}

.acordion-content {
  position: relative;
  opacity: 0;
  transition: opacity 1.5s ease;

}

.acordion-content.show {
  opacity: 1;
}




/* 
/////////////////////////////////////////////////////////////////////////////
                              Content
/////////////////////////////////////////////////////////////////////////////
*/
.HeadPage{
  position: relative;
  flex: 0 1 auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* height: calc(100vh - 11.5rem); */
  flex: 1;
  overflow-y: hidden;
  /* max-height: ; */
}

/* 
///////////////////////////////////////////////////////
                        Map
///////////////////////////////////////////////////////
*/
.MapBox {
  background-color: #111;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: auto;
  position: absolute;
  overflow-y: hidden;
}

.MapBox.owner {
  background-color: #111;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: auto;
  position: absolute;
  overflow-y: auto;
}

.refresh-map {
  background-color: rgba(0, 0, 0, 0.298);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  border: none;
  margin: 0.5rem;
  position: absolute; 
  /* z-index: 1; */
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.refresh-map:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 
/////////////////////////////////////////////////////////////////////////////
                              Show List buttom
/////////////////////////////////////////////////////////////////////////////
*/
.ShowList {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -130%);
  width: 7rem;
}

.ShowList-buttom {
  font-size: 1rem;
  font-weight: 500;
  padding: 01rem;
  /* width: 3rem; */
  border: none;
  border-radius: 30px;
  background-color: rgb(32, 32, 32);
  /* margin-bottom: 1rem; */
  border: none;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  width: 100%;
  /* max-width: 200px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
}

.ShowList-buttom:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
  background-color: rgb(32, 32, 32);
}



