.HomeWrapper {
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 
/////////////////////////////////////////////////////////////////////////////
                              Titles
/////////////////////////////////////////////////////////////////////////////
*/
.HomeTitle {
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
  transition: all 0.5s ease-in-out;
  cursor:default;
  /* margin-bottom: 1rem; */
  /* margin-top: 1px; */
  margin-left: 10px;
  background-color: transparent;
  border: none;
  margin-top: 0;
  padding-top: 0;
  
}

.HomeTitle.show {
  font-size: 3rem;
}

.HomeTitle:hover {
  text-shadow: 0px 0px 10px rgba(3, 255, 255, 0.416);
  margin-left: 20px;
  background-color: transparent;
}

/* 
/////////////////////////////////////////////////////////////////////////////
                              Nav Bar
/////////////////////////////////////////////////////////////////////////////
*/
.NavBar-box {
  background-color: rgb(62, 62, 62);
  height: 2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.NavBar {
  border: none;
  border-radius: 20px;
  height: 1.5rem;
  background-color: grey;
  position: relative;
  right: 1%;
  text-align: justify;
  padding-left: 1rem;
  color: white;
  transition: all 0.5s ease-in-out;
  /* transition: all 0.1s ease-out; */
}

.NavBar:focus {
  right: 50%;
  transform: translate(50%,0);
  width: 30rem;
}

.NavBar::placeholder {
  color: rgb(89, 89, 89);
}

/* 
/////////////////////////////////////////////////////////////////////////////
                              Content
/////////////////////////////////////////////////////////////////////////////
*/
.HeadPage{
  flex: 0 1 auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* height: calc(100vh - 11.5rem); */
  flex: 1;
  overflow: hidden;
}

/* 
///////////////////////////////////////////////////////
                        Map
///////////////////////////////////////////////////////
*/
.MapBox {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  align-items: center;
  padding: auto;
  position: absolute;
}

/* 
/////////////////////////////////////////////////////////////////////////////
                              Show List buttom
/////////////////////////////////////////////////////////////////////////////
*/
.ShowList {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -130%);
  width: 7rem;
}

.ShowList-buttom {
  font-size: 1rem;
  font-weight: 500;
  padding: 01rem;
  /* width: 3rem; */
  border: none;
  border-radius: 30px;
  background-color: rgb(32, 32, 32);
  /* margin-bottom: 1rem; */
  border: none;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  width: 100%;
  /* max-width: 200px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
}

.ShowList-buttom:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
  background-color: rgb(32, 32, 32);
}



