/* 
/////////////////////////////////////////////////////////////////////////////
                            Available Parking Card
/////////////////////////////////////////////////////////////////////////////
*/


.card-availableParkings {
    width: 215px;
    height: 254px;
    padding: 2rem;
    padding-right: 1rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    border-radius: 30px;
    background: #030a18;
    box-shadow: 10px 10px 20px rgb(25, 25, 25),
      -10px -10px 20px rgb(45, 45, 45);
    overflow: visible;
    position: relative;
  }
  
  .card-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  
  .card-infoButton {
    transform: translate(-50%, 80%);
    width: 65%;
    border-radius: 2rem;
    border: none;
    background-color: rgb(0, 255, 149);
    color: rgb(32, 32, 32);
    font-size: 1rem;
    padding: .5rem 1rem;
    position: relative;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    z-index: 90;
  }

  .card-infoButton:hover {
    background-color: rgb(0, 255, 149);
  }
  
  .title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .like {
    margin-left: auto;
    margin-right: 0;
  }
  
  .text-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 255, 149);
    margin: 0;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .text {
    font-size: 0.8rem;
    color: #76A5AF;
  }
  
  .card-availableParkings:hover {
    border-color: rgb(0, 255, 149);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    scale: 0.98;
  }
  
  .card-availableParkings:hover .card-infoButton {
    transform: translate(-50%, 30%);
    opacity: 1;
  }

  .data {
    margin-left: 2rem;
    color:#A7C8F2;
  }

  .text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .parkingState {
    position: absolute;
    right: 50%;
    transform: translate(50%);
    top: 0.5rem;
    width: 30%;
    height: 5px;
    border-radius: 10px;
  }


/* 
/////////////////////////////////////////////////////////////////////////////
                                My Parking Card
/////////////////////////////////////////////////////////////////////////////
*/
  .card-myParkingLots {
    width: 400px;
    height: 250px;
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    border-radius: 10px;
    background: #030a18;
    box-shadow: 10px 10px 20px rgb(25, 25, 25),
      -10px -10px 20px rgb(45, 45, 45);
    overflow: visible;
    position: relative;
    margin: 1rem;
  }

  .card-myParkingLots:hover {
    border-color: rgb(0, 206, 225);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    scale: 0.98;
  }

  .card-details-owner {
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .title-box-owner {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: auto;
  }
    
  .text-title-owner {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 206, 225);
    margin: 0;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttons-box-owner {
    margin-left: auto;
  }

  .buttons-header-owner {
    padding: 0;
    background-color: transparent;
    border: none;
    padding: 3px;
    color: white;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 100%;
    margin: 3px;
  }

  .card-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .card-leftColumn {
    margin-right: .75rem;
    /* background-color: aqua; */
    width: 50%;
    text-overflow: ellipsis;

  }

  .card-rightColumn {
    margin-left: .75rem;
    /* background-color: red; */
    width:50%;
    overflow: hidden;


  }
    
  .text-box-owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .text-owner {
    font-size: 0.8rem;
    color: #76A5AF;
    margin: 3px;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  
  .data-owner {
    margin-left: 1rem;
    color:#A7C8F2;
    /* margin-left: 0.5rem; */
    white-space: nowrap;
  }

  .card-statusButton {
    margin-top: auto;
    width: 100%;
    border-radius: 2rem;
    border: none;
    background-color: rgb(0, 206, 225);
    color: rgb(32, 32, 32);
    font-size: 0.8rem;
    font-weight: 500;
    padding: .4rem 1rem;
    position: relative;
    transition: 0.3s ease-out;
    z-index: 90;
  }

  .card-statusButton:hover {
    background-color: rgb(2, 177, 193);
  }

  .action-buttons-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .manual-entrance-button-card {
    width: 50%;
    background-color: rgb(1, 164, 96);
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

  }

  .manual-entrance-button-card:hover {
    background-color: rgb(1, 221, 129);
  }

  .qr-entrance-button-card {
    width: 50%;
    background-color: rgb(0, 137, 149);
    margin-left: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

  }

  .qr-entrance-button-card:hover {
    background-color: rgb(1, 187, 204);
  }
  
  .exit-button-card {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    background-color: rgb(158, 3, 3);
    transition: all 0.3s ease-in-out;

  }

  .exit-button-card:hover {
    background-color: rgb(225, 2, 2);
  }

  .reservate-button {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    background-color: rgb(0, 174, 190);
    transition: all 0.3s ease-in-out;
  }

  .reservate-button:hover {
    background-color: rgb(2, 208, 227);
  }
  