/* 
///////////////////////////////////////////////////////
                        SideMenu
///////////////////////////////////////////////////////
*/
.sideMenu {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 16rem;
    height: 100%;
    align-items: center;
    /* justify-content: center; */

    position: relative;
    top: 0ch;
    left: 0px;
    z-index: 3000;
    animation: fadeOutLeft 0.3s ease-out forwards;


}

@keyframes fadeInRight {
    0% {
        left: -16rem;
    }
    100% {
        left: 0px;
    }
}

@keyframes fadeOutLeft {
    0% {
        left: 0px;
    }
    100% {
        left: -16rem;
    }
}

.sideMenu.show {
    z-index: 1000;
    animation: fadeInRight 0.3s ease-out forwards;

}

.sideMenu-controller {
    position: relative;
    top: 0px;
    right: -7rem;
    width: auto;
    z-index: auto;
    height: 2rem;
    border: none;
    border-radius: 5px;
    color: #A60F0F;
    background-color:  rgb(32, 32, 32);

    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenu-controller:hover {
    background-color: rgb(32, 32, 32);
}

.sideMenu-controller svg {
    color: rgb(230, 230, 230);
    font-size: 1rem;
  }

.sideMenu-button {
    text-align: left;
    padding: 1.5rem;
    padding-top: 2rem;
    background-color: rgb(32, 32, 32);
    /* margin-bottom: 1rem; */
    border: none;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    width: 100%;
    /* max-width: 200px; */
    z-index: 4;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.sideMenu-button:hover {
    background-color: #393e46;
}

.sideMenu-options {
    color: darkgrey;
    font-weight: lighter;
    font: 1rem sans-serif;
}

.delete {
    color: rgb(214, 214, 214);
}

.settings{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.options  {
    text-align: left;
    
    /* background-color: #A60F0F; */
    /* margin-bottom: 1rem; */
    border: none;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    width: 100%;
    /* max-width: 200px; */
    z-index: 3;
    cursor: pointer;
    position: absolute;
    bottom: 5rem;
    animation: fadeInUp 0.3s ease-out forwards;
    transition: background-color 0.2s ease-in-out;

}

.option {
    text-align: left;
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    /* background-color: #A60F0F; */
    /* margin-bottom: 1rem; */
    border: none;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    width: 100%;
    /* max-width: 200px; */
    z-index: 3;
    cursor: pointer;
    position: relative;
    background-color: rgb(54, 54, 54);
    transition: background-color 0.2s ease-in-out;
}

/* .deleteUser {
    background-color: #A60F0F;
} */

.deleteUser:hover {
    background-color: #D91111;
}

/* .addPayMethod {
    background-color: #383737;
} */

.addPayMethod:hover {
    background-color: #008591;
}

.options.show {
    animation: fadeOutDown 0.3s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        top: 0rem;
    }
    100% {
        top: -11.4rem;
    }
}

@keyframes fadeOutDown {
    0% {
        top: -10rem;
    }
    100% {
        top: 0rem;
    }
}