.off-canvas {
    position: fixed;
    bottom: -2rem;
    left: 25%;
    translate: 18%;
    left: 0;
    width: 75%;
    height: 0;
    border-radius: 20px;
    background-color: #111;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  
  .open-btn {
    position: relative;
    bottom: 16px;
    left: 16px;
    background-color: rgb(0, 255, 149);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .off-canvas.open {
    height: 70%;
  }
  
  .off-canvas-content {
    padding: 32px;
  }
  
  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: rgb(0, 255, 149);
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  